---
import Base from '@/layouts/Base.astro'
import { Reflectors } from '@/components/Reflectors'
import { Nav } from '@/components/Nav'
import Hero from '@/sections/Hero.astro'
import { About } from '@/sections/About'
import { Brand } from '@/sections/Brand'
import { Projects } from '@/sections/Projects'
import { Contact } from '@/sections/Contact'
import { SmoothScroll } from '@/components/SmoothScroll'
import RevealScript from '@/components/RevealScript.astro'
---

<Base>
  <Reflectors />
  <Nav client:idle />
  <main>
    <Hero />
    <About client:visible />
    <Brand client:visible />
    <Projects client:visible />
    <Contact client:visible />
  </main>
  <SmoothScroll client:idle />
  <RevealScript />
</Base>
